/* Reset default styles */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Make sure padding doesn't add to element size */
}

/* Container for the entire app */
.Adpp {
  max-width: 1200px; /* Set a maximum width */
  width: 100%; /* Ensure the container takes full width */
  margin: 0 auto;
  padding: 20px;
  background-color: #20252e;
  box-sizing: border-box;
}

/* Styling for headings */
.heading1 {
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
}

/* Styling for h2 elements */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Styling for horizontal line */
.hr {
  margin: 40px 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 1vh;
}

/* Styling for Recent and All Blog sections */
.recentBlogs,
.allBlogs {
  margin-bottom: 40px;
}

/* Styling for the container holding blog items */
.blog-list {
  display: flex;
  flex-wrap: wrap;
}

/* Row container for blog items */
.blog-row {
  display: flex;
  flex-wrap: wrap;
}

/* Column container for blog items */
.blog-column {
  flex: 1;
  margin-left: 20px;
}

/* Styling for individual blog items */
.blog-item {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

/* Hover effect for blog items */
.blog-item:hover {
  transform: scale(1.02);
}

.blog-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.blog-item p {
  font-size: 16px;
  color: #555555;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .heading1 {
    font-size: 100px;
  }

  .blog-column {
    flex: 1 1 100%;
    margin-left: 0;
  }

  .blog-item {
    padding: 10px;
  }

  .blog-item h3 {
    font-size: 18px;
  }

  .blog-item p {
    font-size: 14px;
  }
}
