.div body {
    background-color: #1d1d1d;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.div .app {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.div .container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform 2s, opacity 2s;
    transform-origin: center center;
}

.div .contact-form {
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div .contact-form h1 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 40px;
}

.div .contact-form p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.div .form-group {
    margin-bottom: 10px;
}

.div .form-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.div .form-group input,
.div .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

.div .form-group input {
    height: 30px;
}

.div .form-group textarea {
    height: 70px;
}

.div button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.div button:hover {
    background-color: #333;
}

.div .image-container {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}

.div .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.div .thank-you-message {
    display: none;
    background-color: #102C57;
    padding: 50px;
    margin: 150px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(22, 121, 171);
    text-align: center;
}

.div .thank-you-message p {
    margin: 0;
    font-size: 24px;
}

.div .footer {
    width: 100%;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}

@media (max-width: 1024px) {
    .div .container {
        flex-direction: column;
        max-width: 100%;
    }

    .div .image-container {
        order: -1;
        margin: 0;
        padding: 20px;
    }

    .div .image-container img {
        max-width: 100%;
        height: auto;
    }

    .div .contact-form {
        margin: 20px;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .div .contact-form h1 {
        font-size: 20px;
    }

    .div .contact-form p,
    .div .form-group label {
        font-size: 12px;
    }

    .div .form-group input,
    .div .form-group textarea {
        font-size: 12px;
    }

    .div button {
        font-size: 12px;
    }

    .div .thank-you-message p {
        font-size: 20px;
    }

    .div .image-container {
        padding: 5px;
        padding-left: 15px;
    }

    .div .image-container img {
        max-width: fit-content;
        height: 100%;
        display: block;
    }
}

@media (max-width: 480px) {
    .div .contact-form h1 {
        font-size: 18px;
    }

    .div .contact-form p,
    .div .form-group label {
        font-size: 10px;
    }

    .div .form-group input,
    .div .form-group textarea {
        font-size: 10px;
    }

    .div button {
        font-size: 10px;
    }

    .div .thank-you-message p {
        font-size: 18px;
    }

    .div .image-container img {
        max-width: fit-content;
        height: 100%;
        display: block;
    }
}

/* Keyframes for fade-in animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply fade-in animations */
.div .fade-in {
    animation: fadeIn 2s ease-in-out;
}
